@CHARSET "UTF-8";

/*---------- background ---------------------------------------- */

body {
	background-color: #FFFFFF
}

.PAGE {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	margin-bottom: 15px;
	border: 1px solid #E6E6E6;
}

/*---------- header ------------------------------------------ */

.categoryName{
	width: 100%;
	height: 120px;
	background-color: #E64848;
}

#name{
	padding-left: 20px;
	padding-right: auto;
	padding-top: 10px;
	padding-bottom: 0px;
	color: #FFFFFF;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
}

#name a{
	color: #F9D0D0;
	text-decoration: none;
}


#description{
	padding-left: 25px;
	padding-top: 0px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}


/*---------- list ------------------------------------------ */

.categoryList{
	width: 100%;
	margin-left: 25px;
}

#post{
	line-height: 20px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

#post a{
	color: #808080;
	text-decoration: none;
}